body{
    font-family: "Verdana";
    margin: 0px;
    text-align: center;
    font-size: 2vmax;
    color: #202020;
    background-color: #808080;
}

.redirect{
    font-size: 2vmax;
    font-weight: bold;
}

.gengame{
    background-color: #58000F;
    font-size: 2vmax;
    font-weight: bold;
    color: #efc700;
}

.simland{
    background-color: #20d0d0;
    color: #2020d0;
}

button{
    border-width: 0.5vmin;
    margin: 0.25vmin;
}

b{
    font-size: 93.75%;
}
